


<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-default navbar-static-top">
   <div class="container">
     <ul class="nav navbar-nav">
       <li class="navbar-brand"><a href="{% url 'index'%}">Brnad</a></li>
       <li class="navbar-brand"><a href="{% url 'admin:index'%}">ADMIN</a></li>
       <li class="navbar-brand"><a href="{% url 'basic_app:other'%}">other</a></li>
     </ul>
   </div>
</nav>
  <div class="container">
    {% block body_block %}
    <!-- anything outside of this will be inherited if you extend!-->
    {% endblock %}



  </div>
</body>
</html>
